/* 공통 */
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 10px;
}

.form input, .form select, .form textarea, input[type="search"], .input {
    display: inline-flex;
    padding: 10px 20px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
}

.form .input-wrap, .form .btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.form .btn-wrap.row {
    flex-direction: row;
}

.form .input-wrap > div {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    gap: 10px;
}

.form .input-wrap > .col {
    flex-direction: column;
    gap: 0;
}

.form .input-wrap .input-icon {
    position: absolute;
    top: 10px;
    right: 15px;
}

.form #address, .form #postcode {
    margin-bottom: 5px;
}

.form .input-wrap .input-message {
    display: none;
    margin-top: 3px;
    width: 100%;
    font-size: 1.2rem;
    text-align: left;
}

.form .input-wrap > div input {
    width: 100%;
}

.form .input-wrap .btn {
    width: 20%;
    height: 40px;
}

.btn-wrap {
    display: flex;
    margin-top: 10px;
    min-width: 400px;
    gap: 5px;
}

.btn-wrap.half .btn {
    width: 50%;
}

.btn-wrap.full {
    flex-direction: column;
}

.btn-wrap.full .btn {
    width: 50%;
}

.btn-wrap .btn:first-child {
    width: 20%;
}

.btn-wrap .btn:last-child {
    width: 80%;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--gray-light-color);
}

.btn:hover {
    background-color: var(--gray-color);
}

.btn.bold {
    font-weight: 600;
}

.btn.main {
    background-color: var(--main-color);
    color: #fff;
}

.btn.main:hover {
    background-color: var(--main-light-color);
}

.btn.sub {
    background-color: var(--sub-color);
    color: #fff;
}

.btn.sub:hover {
    background-color: var(--sub-light-color);
}

.btn.highlight {
    background-color: var(--highlight-color);
    color: #fff;
}

.btn.highlight:hover {
    background-color: var(--highlight-light-color);
}

.btn.disable, .btn.disable:hover {
    background-color: var(--gray-dark-color);
}

.btn.half {
    width: 50% !important;
}

.btn.over {
    width: 75% !important;
}

.btn.full {
    width: 100% !important;
}

/* 레이아웃 */


/* 스타일가이드 */
#style_guide {
}

#style_guide .box-wrap {
    display: flex;
    flex-direction: column;
}

#style_guide .box-wrap > div {
    display: flex;
}

#style_guide .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    color: #fff;
    text-align: center;
}

#style_guide .main .box {
    background-color: var(--main-color);
}

#style_guide .main .box.light {
    background-color: var(--main-light-color);
}

#style_guide .main .box.dark {
    background-color: var(--main-dark-color);
}

#style_guide .sub .box {
    background-color: var(--sub-color);
}

#style_guide .sub .box.light {
    background-color: var(--sub-light-color);
}

#style_guide .sub .box.dark {
    background-color: var(--sub-dark-color);
}

#style_guide .highlight .box {
    background-color: var(--highlight-color);
}

#style_guide .highlight .box.light {
    background-color: var(--highlight-light-color);
}

#style_guide .highlight .box.dark {
    background-color: var(--highlight-dark-color);
}

#style_guide .gray .box {
    background-color: var(--gray-color);
}

#style_guide .gray .box.light {
    background-color: var(--gray-light-color);
}

#style_guide .gray .box.dark {
    background-color: var(--gray-dark-color);
}
