/*@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 공통 */
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 10px;
}

.form input, .form select, .form textarea, input[type="search"], .input {
    display: inline-flex;
    padding: 10px 20px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
}

.form .input-wrap, .form .btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.form .btn-wrap.row {
    flex-direction: row;
}

.form .input-wrap > div {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    gap: 10px;
}

.form .input-wrap > .col {
    flex-direction: column;
    gap: 0;
}

.form .input-wrap .input-icon {
    position: absolute;
    top: 10px;
    right: 15px;
}

.form #address, .form #postcode {
    margin-bottom: 5px;
}

.form .input-wrap .input-message {
    display: none;
    margin-top: 3px;
    width: 100%;
    font-size: 1.2rem;
    text-align: left;
}

.form .input-wrap > div input {
    width: 100%;
}

.form .input-wrap .btn {
    width: 20%;
    height: 40px;
}

.btn-wrap {
    display: flex;
    margin-top: 10px;
    min-width: 400px;
    gap: 5px;
}

.btn-wrap.half .btn {
    width: 50%;
}

.btn-wrap.full {
    flex-direction: column;
}

.btn-wrap.full .btn {
    width: 50%;
}

.btn-wrap .btn:first-child {
    width: 20%;
}

.btn-wrap .btn:last-child {
    width: 80%;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--gray-light-color);
}

.btn:hover {
    background-color: var(--gray-color);
}

.btn.bold {
    font-weight: 600;
}

.btn.main {
    background-color: var(--main-color);
    color: #fff;
}

.btn.main:hover {
    background-color: var(--main-light-color);
}

.btn.sub {
    background-color: var(--sub-color);
    color: #fff;
}

.btn.sub:hover {
    background-color: var(--sub-light-color);
}

.btn.highlight {
    background-color: var(--highlight-color);
    color: #fff;
}

.btn.highlight:hover {
    background-color: var(--highlight-light-color);
}

.btn.disable, .btn.disable:hover {
    background-color: var(--gray-dark-color);
}

.btn.half {
    width: 50% !important;
}

.btn.over {
    width: 75% !important;
}

.btn.full {
    width: 100% !important;
}

/* 레이아웃 */
.wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header-wrap, .category-wrap, .content-wrap, .footer-wrap {
    display: flex;
    width: 100%;
    max-width: 1000px;
}

/* 헤더 */
header {
    width: 100%;
    position: relative;
    position: sticky;
    top: -10px;
    z-index: 30;
}

header .header-wrap {
    width: 100%;
    display: flex;
    margin: 20px auto 5px;
    align-items: center;
    gap: 30px;
    background-color: #fff;
}

header .header-wrap .header-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .header-wrap .user-menu {
    display: flex;
    justify-content: right;
}

header .user-menu .nav {
    display: flex;
    align-items: center;
    gap: 5px;
}

header .user-menu .nav .link {
    padding: 3px 5px;
    font-size: 1.3rem;
}

header .logo {
    width: 100px;
    height: 75px;
}

header .logo .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

header .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header .header-menu .search {
    width: 100%;
}

header .header-menu .search form {
    display: flex;
    gap: 10px;
}

header .header-menu .search input {
    width: 500px;
}

header .header-menu .search .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 40px;
}

header .header-menu .search .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 40px;
}

#market-header-wrap .btn.sub {
    background-color: var(--main-color);
    color: #fff;
}

#market-header-wrap .btn.sub:hover {
    background-color: var(--main-light-color);
}

nav {
    position: relative;
    position: sticky;
    position: -webkit-sticky;
    top: 75px;
    z-index: 30;
}

nav .category-wrap {
    width: 100%;
    display: flex;
    margin: 5px auto;
    align-items: center;
    gap: 30px;
    height: 60px;
    background-color: #fff;
}

.category-wrap .header-category {
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 10px auto;
    border-bottom: 2px solid var(--gray-green-color);
    box-shadow: 0px 3px 0px 0px var(--gray-light-color);
}

#main-category-wrap .header-category .recipe {    
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

#main-category-wrap .header-category .market {    
    display: flex;
    justify-content: right;
    align-items: center;
}

#market-category-wrap .header-category .market {
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

#market-category-wrap .header-category .recipe {
    display: flex;
    justify-content: right;
    align-items: center;
}

.category-wrap .header-category .link {
    padding: 15px;
    background: none;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--main-dark-color);
    cursor: pointer;
}

.category-wrap .header-category .market .link {
    background: none;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--main-color);
    cursor: pointer;
}

.category-wrap .header-category .recipe .link {
    background: none;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--sub-color);
    cursor: pointer;
}

.category-wrap .header-category .recipe .link:hover {
    color: #fff;
    background-color: var(--sub-color);
}

.category-wrap .header-category .market .link:hover {
    color: #fff;
    background-color: var(--main-color);
}

.header-category #usermenu_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 130px;
}

.header-category .usermenu-list {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 57px;
    left: 0;
    width: 100%;
    padding: 0 10px;
    background-color: #e6e6e6;
    text-align: center;
    color: var(--text-color);
    z-index: 999;
}

.header-category .usermenu-list div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-category .usermenu-list > div {
    flex-direction: column;
    padding: 5px 0;
    width: 100%;
    border-bottom: 1px solid var(--gray-color);
}

.header-category .usermenu-list > div:last-child {
    border: none;
}

.header-category .usermenu-list a {
    padding: 5px 10px;
    width: 100%;
    font-size: 1.3rem;
}

.header-category .usermenu-list .point {
    justify-content: space-between;
    flex-direction: column;
}

.header-category .usermenu-list .point-now {
    padding: 5px 0;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 600;
}

.header-category .usermenu-list .point-now:hover {
    background-color: transparent;
    color: var(--main-light-color);
}

.header-category .usermenu-list .btn {
    padding: 5px;
    width: 100%;
    border-radius: 0;
    font-size: 1rem;
}

.header-category .usermenu-list .btns .btn:hover {
    color: #fff;
}

.header-category #category_btn:hover .category-link-wrap, .header-category #usermenu_btn:hover .usermenu-list {
    display: flex;
}

.header-category .category-link-wrap {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 57px;
    left: 0;
    background-color: var(--gray-light-color);
    color: var(--text-color);
}

.header-category .category-link-wrap .category-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    border-bottom: 3px solid transparent;
    color: var(--main-color) !important;
}

.header-category .category-link-wrap .category-link:hover {
    border-bottom-color: var(--main-color);
}

/* 페이지 */
.container {
    position: relative;
    top: 0px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 20px 50px;
    min-height: 75vh;
    max-width: 1000px;
    z-index: 10;   
}

.content-wrap {
    flex-direction: column;
    gap: 20px;
}

.content-wrap h2.title {
    text-align: center;
    font-size: 3rem;
}

.content-wrap .error-content p {
    text-align: center;
    font-size: 2rem;
}

.content-wrap .content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-width: 400px;
    gap: 10px;
}

/* 푸터 */
footer {
    width: 100%;
    background-color: var(--gray-light-color);
    position: relative;
    bottom: 0;
}

footer .footer-wrap {
    display: flex;
    margin: 0 auto;
    padding: 20px 0;
    flex-direction: column;
}

footer .bottom_wrap, footer .info_link, footer .top_footer {
    display: flex;
    gap: 5px;
}

footer .bottom_wrap {
    justify-content: space-between;
    gap: 40px;
}

footer .bottom_wrap .logo img {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    object-fit: contain;
}

footer .info_footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3px;
}

footer .info_txt {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2px;
}

footer .name_addr {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

footer .join_footer {
    display: flex;
    width: 40%;
    gap: 30px;
    height: 40px;
    padding: 10px 0 0 0;
}

footer .join_footer .link {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .join_footer .link img {
    min-width: 120px;
    max-width: 120px;
    min-height: 30px;
    max-height: 30px;
    object-fit: contain;
}

footer .join_footer .link:nth-child(1) {
    position: relative;
    top: -5px;
}

footer .join_footer .link:nth-child(2) {
    position: relative;
    top: -8px;
}

footer .btn_footer {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

footer .top_footer {
    justify-content: space-between;
}

footer .util_footer {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 40%;
}

footer .util_footer .btn {
    width: 100%;
}

/* 스타일가이드 */
#style_guide {
}

#style_guide .box-wrap {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}

#style_guide .box-wrap > div {
    display: flex;
}

#style_guide .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    color: #fff;
    text-align: center;
}

#style_guide .main .box {
    background-color: var(--main-color);
}

#style_guide .main .box.light {
    background-color: var(--main-light-color);
    color: #3c6300;
}

#style_guide .main .box.dark {
    background-color: var(--main-dark-color);
}

#style_guide .sub .box {
    background-color: var(--sub-color);
}

#style_guide .sub .box.light {
    background-color: var(--sub-light-color);
}

#style_guide .sub .box.dark {
    background-color: var(--sub-dark-color);
}

#style_guide .highlight .box {
    background-color: var(--highlight-color);
}

#style_guide .highlight .box.light {
    background-color: var(--highlight-light-color);
}

#style_guide .highlight .box.dark {
    background-color: var(--highlight-dark-color);
}

#style_guide .highlight .box.yellow {
    background-color: var(--highlight-yellow-color);
}

#style_guide .highlight .box.blue {
    background-color: var(--highlight-blue-color);
}

#style_guide .highlight .box.red {
    background-color: var(--highlight-red-color);
}

#style_guide .gray .box {
    background-color: var(--gray-color);
}

#style_guide .gray .box.light {
    background-color: var(--gray-light-color);
    color: #3c6300;
}

#style_guide .gray .box.dark {
    background-color: var(--gray-dark-color);
}

#style_guide .gray .box.green {
    background-color: var(--gray-green-color);
    color: #3c6300;
}

#style_guide .title {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 3rem;
}

#style_guide p {
    margin-top: 10px;
    text-align: left;
    font-size: 2rem;
}

/* 마켓 */

/* ListView.css */
#market_list_view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#market_list_view .ingredient-view-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#market_list_view .ingredient-img-wrap {
    margin-right: 20px;
}

#market_list_view .ingredient-img {
    width: 100px;     /* 이미지 크기 조절 */
    height: 100px;
    object-fit: cover;     /* 이미지 비율 유지하면서 자르기 */
    border-radius: 50%;     /* 원형 이미지 모양 */
}

#market_list_view .ingredient-info-wrap {
    display: flex;
    flex-direction: column;
}

#market_list_view .ingredient-top-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#market_list_view .ingredient-title {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

#market_list_view .ingredient-unit, #market_list_view .ingredient-price {
    font-size: 16px;
    margin-right: 10px;
}

#market_list_view .ingredient-mid-wrap {
    margin-bottom: 10px;
}

#market_list_view .ingredient-cart-wrap {
    margin-bottom: 10px;
}

#market_list_view .ingredient-bottom-wrap {
    display: flex;
    align-items: center;
}

#market_list_view #result {
    margin: 0 10px;     /* 숫자와 버튼 사이의 간격 조절 */
}

#market_list_view button {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#market_list_view select {
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}

/* market_list.css */
#market_list {
    font-family: Arial, sans-serif;
}

#market_list .search-wrap {
    margin-bottom: 10px;
}

#market_list .search-wrap input[type="text"] {
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#market_list .search-wrap button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#market_list .ingredient-wrap ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);     /* 각 항목을 3개씩 나열 */
    gap: 10px;     /* 각 항목 사이의 간격 */
}

#market_list .ingredient-wrap li {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;     /* 가운데 정렬 */
}

/* payment.css */
#payment_wrap {
    display: flex;
    flex-direction: column;
}

#payment_wrap .title-wrap {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    border-bottom: 1px solid #dadada;
    margin: 10px 0;
}

#payment_wrap .ingredient-cart-all-check-btn {
    text-align: left;
}

#payment_wrap .payment-ingredient-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}

#payment_wrap .payment-ingredient-wrap .flex-item {
    border: 1px solid #dadada;
    padding: 10px;
}

#payment_wrap .payment-price-wrap {
    border: 1px solid #dadada;
    display: flex;
    flex-direction: column;
    width: 700px;
    gap: 20px;
    padding: 20px;
}

#payment_wrap .payment-ingredient-wrap img {
    width: 100px;     /* 이미지 크기 조절 */
    height: 100px;     /* 이미지 비율 유지 */
}

#payment_wrap .flex-wrap {
    display: flex;
    gap: 10px;
}

/* cart css */
#shpping_cart_wrap .shpping_cart_wrap {
    display: flex;
    flex-direction: column;
}

#shpping_cart_wrap .ingredient-cart-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#shpping_cart_wrap .ingredient-cart-wrap .ingredient-cart-item {
    border: 1px solid #dadada;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#shpping_cart_wrap .ingredient-cart-img {
    max-width: 100px;
    min-width: 100px;
    max-height: 100px;
    min-height: 100px;
    border-radius: 50px;
}

#shpping_cart_wrap .ingredient-cart-btn {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

#shpping_cart_wrap .all-select-btn {
    display: flex;
}

#shpping_cart_wrap .ingredient-payment-history {
    display: flex;
    justify-content: space-between;
}

#shpping_cart_wrap .select-btn-order-info {
    display: flex;
    justify-content: space-between;
}