#payment_wrap {
    display: flex;
    flex-direction: column;

}

.title-wrap {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    border-bottom: 1px solid #dadada;
    margin: 10px 0;
}

.ingredient-cart-all-check-btn{
    text-align: left;
}

.payment-ingredient-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}

.payment-ingredient-wrap .flex-item {
    border: 1px solid #dadada;
    padding: 10px;
}

.payment-price-wrap {
    border: 1px solid #dadada;
    display: flex;
    flex-direction: column;
    width: 700px;
    gap: 20px;
    padding: 20px;
}

.payment-ingredient-wrap img {
    width: 100px; /* 이미지 크기 조절 */
    height: 100px; /* 이미지 비율 유지 */
}

.flex-wrap {
    display: flex;
    gap: 10px;
}
